@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
}

.lighter-text {
  color: #abb0be;
}

.main-color-text {
  color: #E91E63;
}

nav {
  padding: 20px 0 40px 0;
  background: #f8f8f8;
  font-size: 16px;
}

nav .navbar-left {
  float: left;
}

nav .navbar-right {
  float: right;
}

nav ul li {
  display: inline;
  padding-left: 20px;
}

nav ul li a {
  color: #777;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
}


.badge {
  background-color: #E91E63;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  right: 128px;
  padding: 20px;
  z-index: 99999;
  cursor : pointer;
}


.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #6394f8;
  margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
  color: #abb0be;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
  cursor : pointer;
}

.cart-icon {
  color: #E91E63;
  font-size: 24px;
  margin-right: 7px;
  cursor : pointer;
  float: left;
}

.button {
  background: #E91E63;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.product-grid4, .product-grid4 .product-image4 {
  position: relative
}

.product-grid4 {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease 0s
}

.product-grid4:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
  display: block
}

.product-grid4 .product-image4 img {
  width: 100%;
  height: auto
}

.product-grid4 .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
  opacity: 0
}

.product-grid4 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
  opacity: 1
}

.product-grid4 .social {
  width: 180px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s ease 0s
}

.product-grid4 .social li {
  display: inline-block;
  opacity: 0;
  transition: all .7s
}

.product-grid4 .social li:nth-child(1) {
  transition-delay: .15s
}

.product-grid4 .social li:nth-child(2) {
  transition-delay: .3s
}

.product-grid4 .social li:nth-child(3) {
  transition-delay: .45s
}

.product-grid4:hover .social li {
  opacity: 1
}

.product-grid4 .social li a {
  color: #222;
  background: #fff;
  font-size: 17px;
  line-height: 36px;
  width: 40px;
  height: 36px;
  border-radius: 2px;
  margin: 0 5px;
  display: block;
  transition: all .3s ease 0s
}

.product-grid4 .social li a:hover {
  color: #fff;
  background: #E91E63
}

.product-grid4 .social li a:after, .product-grid4 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px
}

.product-grid4 .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1
}

.product-grid4 .social li a:hover:after, .product-grid4 .social li a:hover:before {
  opacity: 1
}

.product-grid4 .product-discount-label, .product-grid4 .product-new-label {
  color: #fff;
  background-color: #E91E63;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all .3s
}

.product-grid4 .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a
}

.product-grid4:hover .product-new-label {
  opacity: 0
}

.product-grid4 .product-content {
  padding: 25px
}

.product-grid4 .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all .3s ease 0s
}

.product-grid4 .title a {
  color: #222
}

.product-grid4 .title a:hover {
  color: #E91E63
}

.product-grid4 .price {
  color: #E91E63;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block
}

.product-grid4 .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block
}

.product-grid4 .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all .3s;
  width: 100%;
  background: #E91E63;
  color: #fff;
  cursor : pointer
}
.add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all .3s;
  background: #E91E63;
  color: #fff;
  cursor : pointer
}

.product-grid4:hover .add-to-cart {
  border: 1px solid transparent;
  background: #E91E63;
  color: #fff;
}
.add-to-cart {
  border: 1px solid transparent;
  background: #E91E63;
  color: #fff;
}

.product-grid4 .add-to-cart:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
  .product-grid4 {
    margin-bottom: 30px
  }
}
.bg-red{
  background: #E91E63;
  color: #fff;
}
.remove{
  cursor: pointer;
}
.remove :hover{
  color: #E91E63;
}